body {
  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/free-photo/weathered-brick-wall-texture_1154-734.jpg?semt=ais_incoming&w=740&q=80'); 
  background-repeat: repeat;
  background-size: auto;
  position: relative;
}

.santaBarbara {
width: 10cm;
position: absolute;
left: 5%;
top:-10%;
}
.laCandelaria{
    height:15cm;
    position:absolute;
    right:5%;
    bottom:-10%;
}
.torresDelParque{
height: 12cm;
position:absolute;
left:40%;
top:30%;
}
.lasCruces{
  height:10cm;
  position:absolute;
  right:25%;
}
.teusaquillo{
  width: 12cm;
  position:absolute;
  left:5%;
  bottom:-10%;
}