
body {
  margin: 0;
  padding: 0;
  background-image: url('https://bogota.gov.co/sites/default/files/styles/1050px/public/2024-10/parkway-uno.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
